.star {
    color: red;
}

.bK {

    
    background-color: white;
    padding: 18px;
    text-align: left;
    border-collapse:collapse;
    
}

.bt {  
    background-color:#dddddd;
    border-collapse:collapse;
    padding: 18px;
    text-align: left;
    

}
.rr{

    background-color: white;
    text-align: center;
    border-collapse:collapse;
}

.rs {
    background-color:#dddddd;
    text-align: center;
    border-collapse:collapse;

}

#eee{
    border-collapse:collapse;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    
}

#ooo {
    padding-bottom: 30px;
}
#mnm{

    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    padding-bottom: 0.5px;
    }

    #pop {

        padding-bottom: 15px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .uuu{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        padding-top: 12px;
    }
    .lol{
        padding-left: 10px;
    }